<link rel="import" href="../../bower_components/polymer/polymer-element.html">

Access-Control-Allow-Origin: *

<dom-module id="consult-name">
  <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
    <div class="row" hidden$={{name}}>
      <h1>Bienvenido</h1>
      Hola: <input type="text" value="">
    <br>
    </div>

    <div class="row" hidden$={{!name}}>
      <span>Bienvenido a la app</span>
    </div>
</div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ConsulUsuario extends Polymer.Element {
      static get is() { return 'consult-name'; }
      static get properties() {
        return {
          nombre: {
           type:String
          },
          name:{
          type: Boolean,
          value: false
          }
        };
      }

      consultName(){
        //consultarDatos()
        this.name = false;
        var request = new XMLHttpRequest();
        var url = "http://localhost:3000/Movimientos/"+ this.email;
        request.open("GET",url,false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        //this.clientes= JSON.parse(request.responseText).value;
        this.nombre= JSON.parse(request.responseText)
        //console.table(this.clientes);
        }

        manageAJAXResponse(data){
         console.log("Respuesta recibida del servidor");
         //this.logado = true;
        }

        showError(error){
         console.log('Hubo un error en la petición:'+ error);
         alert("Los datos ingresados son incorrectos/El usuario no existe, registrese");
        }
      }

  window.customElements.define(ConsulUsuario.is, ConsulUsuario);
  </script>
</dom-module>
