<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/geo-location/geo-location.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="../css/addons/datatables.min.css" rel="stylesheet">
    <style>
        :host {
          display: block;
        }
        .bluetext {
          color: #09029b;
        }
        .whitetext {
          color: #f9f9fd;
        }
      </style>
      <div class="container"></div>
          <!-- Login -->
          <div class="row" hidden$={{logado}}>
          <div class="img-fluid" alt="Responsive image"
                  style="background-image:url('https://image.freepik.com/vector-gratis/libre-luz-azul-fondo-vector_51-9976.jpg'); background-size:100% 100%">
                  <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                    <h5 class="card-header info-color white-text text-center py-4"><strong><font color="white"; size=6>Login</font></strong>
                    </h5>
                        <!--Card content-->
                        <div class="card-body px-lg-100 pt-50">
                          <!-- Form -->
                          <form class="form-horizontal">
                            <div class="form-group">
                              <form class="text-center" style="color: whitetext" action="#!">
                              <!-- Email -->
                              <div class="md-form">
                                <br />
                                <input type="email" value="{{email::input}}" placeholder="Email" id="materialLoginFormEmail" class="form-control">
                                <strong><label for="materialLoginFormEmail"><font size=5>Email</font></label></strong>
                              </div>
                              <!-- Password -->
                              <div class="md-form">
                                <br />
                                <input type="password" value="{{password::input}}" placeholder="Password" id="materialLoginFormPassword" class="form-control">
                                <strong><label for="materialLoginFormPassword"><font size=5>Password</font></label></strong>
                              </div>
                              <!-- Sign in button -->
                              <button on-click="login" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit"><font color=white size=5>Acceder</fotn></button>
                              <!-- Register -->
                              <p>
                                <button on-click="registrar" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit"><font color=white size=5>Registrar Usuario</font></button>
                              </p>
                              <p>
                                <button on-click="sucursal" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit"><font color=white size=5>Sucursales</font></button>
                              </p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row" hidden$={{!logado}}>
                    <div class="row" hidden$={{consultMovs}}>
                    <div class="img-fluid" alt="Responsive image" style="background-image:url('https://image.freepik.com/vector-gratis/libre-luz-azul-fondo-vector_51-9976.jpg'); background-size:100% 100%">
                        <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                          <span class="whitetext"><strong>Bienvenido a Consulta de Movimientos</strong></span>
                            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                              <thead>
                                <tr>
                                  <th class="th-sm"><font color=#04e8fb size=3>No Cuenta</font></th>
                                  <th class="th-sm"><font color=#04e8fb size=3>Fecha Operación</font></th>
                                  <th class="th-sm"><font color=#04e8fb size=3>Tipo de Operación</font></th>
                                  <th class="th-sm"><font color=#04e8fb size=3>Descripción</font></th>
                                  <th class="th-sm"><font color=#04e8fb size=3>Monto</font></th>
                                  <th class="th-sm"><font color=#04e8fb size=3>Emisora</font></th>
                                  <th class="th-sm"><font color=#04e8fb size=3>Serie</font></th>
                                  <th class="th-sm"><font color=#04e8fb size=3>Titulos</font></th>
                                </tr>
                              </thead>
                              <tbody>
                                <template is="dom-repeat" items="{{movimientos}}" index-as="email">
                                  <tr>
                                    <td><strong><font color=#d1f8fd size=3>[[item.noCuenta]]</font></strong></td>
                                    <td><strong><font color=#d1f8fd size=3>[[item.fechaOper]]</font></strong></td>
                                    <td><strong><font color=#d1f8fd size=3>[[item.tipoOper]]</font></strong></td>
                                    <td><strong><font color=#d1f8fd size=3>[[item.descCorta]]</font></strong></td>
                                    <td><strong><font color=#d1f8fd size=3>[[item.monto]]</font></strong></td>
                                    <td><strong><font color=#d1f8fd size=3>[[item.emisora]]</font></strong></td>
                                    <td><strong><font color=#d1f8fd size=3>[[item.serie]]</font></strong></td>
                                    <td><strong><font color=#d1f8fd size=3>[[item.titulos]]</font></strong></td>
                                </tr>
                              </template>
                              <button on-click="operar" type="submit" class="btn btn-primary btn-md" class="btn-btn-success" align-baseline="right">Registrar nueva Operación</button>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                <!--  <div class="row" hidden$={{!logado}}>-->
                  <div class="row" hidden$={{!consultMovs}}>
                  <div class="row" hidden$={{regInv}}>
                    <div class="img-fluid" alt="Responsive image" style="background-image:url('https://image.freepik.com/vector-gratis/libre-luz-azul-fondo-vector_51-9976.jpg'); background-size:100% 100%">
                      <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                        <h5 class="card-header info-color white-text text-center py-4"><strong><font color="white"; size=6>Alta de Movimiento</font></strong></h5>
                        <div>
                          <form id="Operaciones">
                            <div class="form-row">
                              <div class="col-md-6">
                                <br />
                                <div class="md-form form-group">
                                  <input type="number" class="form-control" id="inputNoCuenta4MD" value="{{noCuenta::input}}" placeholder="Numero de Cuenta">
                                  <label for="inputNoCuenta4MD"><strong><font color= "white" size=4>Numero de Cuenta</font></strong></label>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <br />
                                <div class="md-form form-group">
                                  <input type="date" class="form-control" id="inputFechaOper4MD" value="{{fechaOper::input}}" placeholder="Fecha de Operación">
                                  <label for="inputFechaOper4MD"><strong><font color= "white" size=4>Fecha de Operación</font></strong></label>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <td colspan="2">
                                  <select class="form-control" class="bluetext" id="inputTipoOper4MD" value={{tipoOper::input}}>
                                    <option selected>Selecciona Tipo de Operación</option>
                                    <option value ="Compra">C</option>
                                    <option value ="Venta">V</option>
                                  </select>
                                  <label for="inputTipoOper4MD"><strong><font color= "white" size=4>Tipo de Operación</font></strong></label>
                                </td>
                              </div>
                              <div class="col-md-12">
                                <br />
                                <div class="md-form form-group">
                                  <input type="text" class="form-control" id="inputdescCortaMD" value="{{descCorta::input}}"placeholder="Descripción">
                                  <label for="inputdescCortaMD"><strong><font color= "white" size=4>Descripción</font></strong></label>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <br />
                                <div class="md-form form-group">
                                  <input type="number" class="form-control" id="inputMontoMD" value="{{monto::input}}"placeholder="Monto">
                                  <label for="inputMontoMD"><strong><font color= "white" size=4>Monto</font></strong></label>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <br />
                                <div class="md-form form-group">
                                  <input type="text" class="form-control" id="inputEmisoraMD" value="{{emisora::input}}"placeholder="Emisora">
                                  <label for="inputEmisoraMD"><strong><font color= "white" size=4>Emisora</font></strong></label>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <br />
                                <div class="md-form form-group">
                                  <input type="text" class="form-control" id="inputSerieMD" value="{{serie::input}}"placeholder="Serie">
                                  <label for="inputSerieMD"><strong><font color= "white" size=4>Serie</font></strong></label>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <br />
                                <div class="md-form form-group">
                                  <input type="number" class="form-control" id="inputTitulosMD" value="{{titulos::input}}"placeholder="Titulos">
                                  <label for="inputTitulosMD"><strong><font color= "white" size=4>Titulos</font></strong></label>
                                </div>
                              </div>
                              <button on-click="operar1" type="submit" class="btn btn-primary btn-md" class="btn-btn-success" align-baseline="right">Registrar Operación</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <!--  </div>-->
                <div class="row" hidden$={{!logado}}>
                <div class="row" hidden$={{!consultMovs}}>
                <div class="row" hidden$={{!regInv}}>
                <div class="row" hidden$={{create}}>
                    <div class="img-fluid" alt="Responsive image" style="background-image:url('https://image.freepik.com/vector-gratis/libre-luz-azul-fondo-vector_51-9976.jpg'); background-size:100% 100%">
                      <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                        <h5 class="card-header info-color white-text text-center py-4"><strong><font color="white"; size=6>Registro de Usuario</font></strong></h5>
                        <div>
                          <form>
                            <div class="form-row">
                              <div class="col-md-6">
                                <br />
                                  <div class="md-form form-group">
                                    <input type="text" class="form-control" id="inputNombre4MD" value="{{nombre::input}}" placeholder="Nombre(s)">
                                    <label for="inputNombre4MD"><strong><font color= "white" size=4>Nombre</font></strong></label>
                                  </div>
                            </div>
                            <div class="col-md-6">
                              <br />
                              <div class="md-form form-group">
                                <input type="text" class="form-control" id="inputApellido4MD" value="{{apellido::input}}" placeholder="Apellido(s)">
                                <label for="inputApellido4MD"><strong><font color= "white" size=4>Apellido</font></strong></label>
                              </div>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="col-md-6">
                              <div class="md-form form-group">
                                <input type="email" class="form-control" id="inputEmail4MD" value="{{email::input}}" placeholder="Email">
                                <label for="inputEmail4MD"><strong><font color= "white" size=4>Email</font></strong></label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="md-form form-group">
                                <input type="password" class="form-control" id="inputPassword4MD" value="{{password::input}}" placeholder="Password">
                                <label for="inputPassword4MD"><strong><font color= "white" size=4>Password</font></strong></label>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <td colspan="2">
                                <select class="form-control" class="bluetext" id="inputPregSec" value={{pregSecreta::input}}>
                                  <option selected>Selecciona una opción...</option>
                                  <option value ="Nombre de tu Mascota">Nombre de tu Mascota</option>
                                  <option value ="Comida Favorita">Comida Favorita</option>
                                  <option value ="Nombre de tu Madre">Nombre de tu Madre</option>
                                  <option value ="Nombre de tu hijo">Nombre de tu hijo</option>
                                </select>
                                <label for="inputPregSec"><strong><font color= "white" size=4>Pregunta Secreta</font></strong></label>
                              </td>
                            </div>
                            <div class="col-md-12">
                              <br />
                              <div class="md-form form-group">
                                <input type="text" class="form-control" id="inputRespSecMD" value="{{respSecreta::input}}"placeholder="Respuesta Secreta">
                                <label for="inputRespSecMD"><strong><font color= "white" size=4>Respuesta Secreta</font></strong></label>
                              </div>
                            </div>
                          </div>
                          <button on-click="registrar1" type="submit" class="btn btn-primary btn-md" class="btn-btn-success" align-baseline="right">Aceptar</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row" hidden$={{!logado}}>
            <div class="row" hidden$={{!consultMovs}}>
              <div class="row" hidden$={{!regInv}}>
                <div class="row" hidden$={{!create}}>
            <div class="row" hidden$={{suc}}>
              <div class="img-fluid" alt="Responsive image" style="background-image:url('https://image.freepik.com/vector-gratis/libre-luz-azul-fondo-vector_51-9976.jpg'); background-size:100% 100%">
                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                  <span class="whitetext"><strong>Sucursales BBVA</strong></span>

                  <geo-location latitude="{{latitude}}" longitude="{{longitude}}"></geo-location>
                  <ul>
                    <span class="whitetext"><strong>Tu te encuentras aquí</strong></span>
                    <li>Latitude: [[latitude]]</li>
                    <li>Longitude: [[longitude]]</li>
                  </ul>
                  <span class="whitetext"><strong>Las sucursales de BBVA son las siguientes:</strong></span>
                  <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th class="th-sm"><font color=#04e8fb size=3>Nu. Sucursal</font></th>
                        <th class="th-sm"><font color=#04e8fb size=3>Dirección</font></th>
                        <th class="th-sm"><font color=#04e8fb size=3>País</font></th>
                        <th class="th-sm"><font color=#04e8fb size=3>Código Postal</font></th>
                        <th class="th-sm"><font color=#04e8fb size=3>Latitud</font></th>
                        <th class="th-sm"><font color=#04e8fb size=3>Logitud</font></th>
                      </tr>
                    </thead>
                    <tbody>
                        <template is="dom-repeat" items="{{listSuc1}}">
                          <tr>
                            <td><strong><font color=#d1f8fd size=3>[[item.id1]]</font></strong></td>
                            <td><strong><font color=#d1f8fd size=3>[[item.address]]</font></strong></td>
                            <td><strong><font color=#d1f8fd size=3>[[item.country]]</font></strong></td>
                            <td><strong><font color=#d1f8fd size=3>[[item.postcode]]</font></strong></td>
                            <td><strong><font color=#d1f8fd size=3>[[item.latitude1]]</font></strong></td>
                            <td><strong><font color=#d1f8fd size=3>[[item.longitude1]]</font></strong></td>
                          </tr>
                        </template>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
<script>
    /**
     * @customElement
     * @polymer
     */
class LoginApp extends Polymer.Element {
static get is() { return 'login-app'; }
static get properties() {
  return {
    nombre: {
    type:String
    },
    apellido: {
    type:String
    },
    email: {
    type:String
    },
    password:{
    type: String
    },
    pregSecreta:{
    type: String
    },
    respSecreta:{
    type: String
    },
    noCuenta: {
    type:String
    },
    fechaOper: {
    type:Date
    },
    tipoOper:{
    type: String
    },
    descCorta:{
    type: String
    },
    monto:{
    type: String
    },
    emisora:{
    type: String
    },
    serie:{
    type: String
    },
    titulos:{
    type: Number
    },
    respSec:{
    type: String
    },
    logado:{
    type: Boolean,
    value: false
    },
    consultMovs:{
    type: Boolean,
    value: false
    },
    regInv:{
    type: Boolean,
    value: false
    },
    create:{
    type: Boolean,
    value: false
    },
    suc:{
    type: Boolean,
    value: false
    },
    movimientos:{
    type: Array,
    notify:true
    },
    longitude:{
    type: String
    },
    latitude:{
    type: String
    },
    listSuc:{
    type: Array,
    notify:true
  },
  listSuc1:{
  type: Array,
  value: []
},
listSuc2:{
type: Array,
value: []
},
listSuc3:{
type: Array,
value: []
},
  IdSuc:{
    type: String
  }
  };
}

login(){
  var loginData = {
    "email": this.email,
    "password": this.password
  };

  console.log(loginData);

  //agregarDatos()
  var request = new XMLHttpRequest();
    request.open("POST","http://localhost:3000/v2/Login",false);
    request.setRequestHeader("Accept","application/json");
    request.setRequestHeader("Content-type","application/json");
  var body = JSON.stringify(loginData);
    request.send(body);
    this.respuesta = request.responseText;
  var respuesta = request.responseText;
  console.log(respuesta);

  if(respuesta=='Usuario logado')
  {
    alert('Acceso Correcto');
    this.logado = true;
    this.consultMovs = false;
    //this.regInv = false;
    //this.create = false;
    this.suc = false;
    this.consultamov();

  }
  else
  {
    alert('Datos incorrectos');
  }
  var usuario = JSON.parse(request.responseText);
  console.log(usuario);
  }

registrar(){
  this.logado = true;
  this.consultMovs = true;
  this.regInv = true;
  this.create = false;
  //this.suc = false;

  var accountData = {

    "nombre": this.nombre,
    "apellido": this.apellido,
    "email": this.email,
    "password": this.password,
    "pregSecreta": this.pregSecreta,
    "respSecreta": this.respSecreta
  };
}


registrar1(){
  //this.logado = false;

  this.regInv = true;
  this.create = false;
  //this.suc = false;

  var accountData = {

    "nombre": this.nombre,
    "apellido": this.apellido,
    "email": this.email,
    "password": this.password,
    "pregSecreta": this.pregSecreta,
    "respSecreta": this.respSecreta
  };
var request = new XMLHttpRequest();
      request.open("POST","http://localhost:3000/v1/Create",false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-type","application/json");
      var body = JSON.stringify(accountData);
      request.send(body);

      console.log(request.status);

        if(request.status == 200) {
          //this.logado = true;
          //this.create = false;
          this.consultMovs = false;
            alert('Registro Correcto');
            dispose();
            this.consultamov();
        }
        else{
            alert('Cuenta NO Registrada');
        }
      }

operar(){


  //this.logado = false;
  this.consultMovs = true;
  this.regInv = false;
  //this.create = true;
  //this.suc = false;

  var transaccionData = {
    "email": this.email,
    "noCuenta": this.noCuenta,
    "fechaOper": this.fechaOper,
    "tipoOper": this.tipoOper,
    "descCorta": this.descCorta,
    "monto": this.monto,
    "emisora": this.emisora,
    "serie": this.serie,
    "titulos": this.titulos
    };
}
operar1(){
  //this.logado = false;
  this.consultMovs = true;
  this.regInv = false;
  //this.create = true;
  //this.suc = false;


              var transaccionData = {
                "email": this.email,
                "noCuenta": this.noCuenta,
                "fechaOper": this.fechaOper,
                "tipoOper": this.tipoOper,
                "descCorta": this.descCorta,
                "monto": this.monto,
                "emisora": this.emisora,
                "serie": this.serie,
                "titulos": this.titulos
              };

              //Registro de la Inversión

                var request = new XMLHttpRequest();
                request.open("POST","http://localhost:3000/v3/Movimientos",false);
                request.setRequestHeader("Accept","application/json");
                request.setRequestHeader("Content-type","application/json");
                var body = JSON.stringify(transaccionData);
                request.send(body);

                console.log(request.status);

                  if(request.status == 200) {
                    alert('Operación Registrada');
                    this.consultamov();

                    this.consultMovs = false;
                    //this.Operaciones.reset();
                    this.noCuenta="",
                    this.fechaOper="",
                    this.tipoOper="",
                    this.descCorta="",
                    this.monto="",
                    this.emisora="",
                    this.serie="",
                    this.titulos=""


                  }
                  else{
                      alert('Operación NO Registrada');
              }

                    var operacion = JSON.parse(request.responseText);
                    console.log(operacion);

                  }

consultamov(){


  var request = new XMLHttpRequest();
  var url = "http://localhost:3000/Movimientos/"+ this.email;
    request.open("GET",url,false);
    request.setRequestHeader("Accept","application/json");
    request.send();
    this.movimientos= JSON.parse(request.responseText)
    console.table(this.movimientos);
}

sucursal(){

  this.logado = true;
  this.consultMovs = true;
  this.regInv = true;
  this.create = true;
  this.suc = false;

  console.log("buscandoSuc");


  var request = new XMLHttpRequest();
  var url = "http://localhost:3000/Sucursales";
  request.open("GET", url,false);
  request.setRequestHeader("longitude",this.longitude);
  request.setRequestHeader("latitude",this.latitude);
  request.send();
  this.listSuc = JSON.parse(request.responseText)
  console.table(this.listSuc.data[0].Brand[0].ATM[0].Identification);
  var i;
  for(i = 0; i < this.listSuc.data[0].Brand[0].ATM.length; i++){
    this.push('listSuc1', {"id1": '"' + this.listSuc.data[0].Brand[0].ATM[i].Identification+ '"',
                          "address": '"' + this.listSuc.data[0].Brand[0].ATM[i].Location.PostalAddress.AddressLine+ '"',
                          "country": '"' + this.listSuc.data[0].Brand[0].ATM[i].Location.PostalAddress.Country+ '"',
                          "postcode": '"' + this.listSuc.data[0].Brand[0].ATM[i].Location.PostalAddress.PostCode+ '"',
                          "latitude1": '"' + this.listSuc.data[0].Brand[0].ATM[i].Location.PostalAddress.GeoLocation.GeographicCoordinates.Latitude+ '"',
                          "longitude1": '"' + this.listSuc.data[0].Brand[0].ATM[i].Location.PostalAddress.GeoLocation.GeographicCoordinates.Longitude+ '"'});
  }

}

}


      window.customElements.define(LoginApp.is, LoginApp);
      </script>

      <script>
      var clientesObtenidos;
      function getClientes() {
        var url = "http://localhost:3000/Sucursales";

        var request = new XMLHttpRequest();

        //var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers?$filter=Country eq 'Germany'";
        //var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";

        request.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
          //console.table(JSON.parse(request.responseText).value);
          clientesObtenidos = request.responseText;
          console.log(clientesObtenidos);
          procesarClientes();
          }
        }
        request.open("GET", url,true);
        //request.setRequestHeader("longitude",this.longitude);
        //request.setRequestHeader("latitude",this.latitude);
        request.send();
      }

      function procesarClientes(){
        //var rutaBandera = "https://www.countries-ofthe-world.com/flags-normal/flag-of-";
        var JSONClientes = JSON.parse(clientesObtenidos);
        //alert(JSONProductos.value[0].ProductName);
        var divTabla = this.shadowRoot.querySelector('#divTablaClientes');
        var tabla = this.shadowRoot.querySelector("table");
        var tbody = this.shadowRoot.querySelector("tbody");

        tabla.classList.add("table");
        tabla.classList.add("table-striped");

        for (var i = 0; i < 5; i++) {
          var nuevaFila = this.shadowRoot.createElement("tr");

          var noSucursal = this.shadowRoot.createElement("td");
            noSucursal.innerText = "s";

        /*
        for (var i = 0; i < JSONClientes.value.length; i++) {
          var nuevaFila = document.createElement("tr");

          var columnaNombre = document.createElement("td");
            columnaNombre.innerText = JSONClientes.value[i].ContactName;

          var columnaCiudad = document.createElement("td");
              columnaCiudad.innerText = JSONClientes.value[i].City;


          var columnaBandera = document.createElement("td");
          var imgBandera = document.createElement("img");

          imgBandera.classList.add("flag");

          if (JSONClientes.value[i].Country == "UK") {
            imgBandera.src = rutaBandera + "United-Kingdom.png";
          } else {
            imgBandera.src = rutaBandera + JSONClientes.value[i].Country + ".png";
          }

                columnaBandera.appendChild(imgBandera);
*/

          nuevaFila.appendChild(noSucursal);

          tbody.appendChild(nuevaFila);
        }
        tabla.appendChild(tbody);
        divTabla.appendChild(tabla);
      }

      </script>
  </dom-module>
