<link rel="import" href="../../bower_components/polymer/polymer-element.html">

Access-Control-Allow-Origin: *

<dom-module id="create-account">
  <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
    <!--<div class="row" hidden$={{create}}>-->
    <div class="row" hidden$={{create}}>
      <h1>Registro de Cuenta</h1>
      Nombre: <input type="text" value="{{nombre::input}}" required>
      Apellido: <input type="text" value="{{apellido::input}}">
      Email: <input type="email" value="{{email::input}}" required>
      Password: <input type="password" value="{{password::input}}" required>
      Pregunta Secreta: <input type="text" value="{{pregSecreta::input}}" required>
      Respuesta Secreta: <input type="text" value="{{respSecreta::input}}" required>
     <button on-click="registrar" class="btn-btn-success">Registrar</button>
     </div>

    <div class="row" hidden$={{!create}}>
      <span>Creación de Cuenta</span>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CreateAccount extends Polymer.Element {
      static get is() { return 'create-account'; }
      static get properties() {
        return {
          nombre: {
           type:String
          },
          apellido: {
           type:String
          },
          email: {
           type:String
          },
          password:{
           type: String
          },
          pregSecreta:{
           type: String
          },
          respSecreta:{
           type: String
          },
          create:{
            type: Boolean,
            value: false
          }
        };
      }

      registrar(){
        this.create = true;

      var accountData = {
        "nombre": this.nombre,
        "apellido": this.apellido,
        "email": this.email,
        "password": this.password,
        "pregSecreta": this.pregSecreta,
        "respSecreta": this.respSecreta
      };

      //console.log(accountData);

        //Registro de la cuenta

        var request = new XMLHttpRequest();
        request.open("POST","http://localhost:3000/v1/Create",false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-type","application/json");
        var body = JSON.stringify(accountData);
        request.send(body);

        console.log(request.status);

          if(request.status == 200) {
              alert('Registro Correcto');
              //this.respuesta = request.responseText;

          }

          else{
              alert('Cuenta NO Registrada');

      }
      var usuario = JSON.parse(request.responseText);
      console.log(usuario);

}
        manageAJAXResponse(data){
         console.log("Respuesta recibida del servidor");
         this.create = true;
        }

        showError(error){
         console.log('Hubo un error en la petición:'+ error);
         alert("Los datos ingresados son incorrectos");
        }
      }

  window.customElements.define(CreateAccount.is, CreateAccount);
  </script>
</dom-module>
