<link rel="import" href="../../bower_components/polymer/polymer-element.html">

Access-Control-Allow-Origin: *

<dom-module id="consul-inversiones">
  <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
    <div class="row" hidden$={{consulok}}>
      <h1>Consulta de Inversiones</h1>
      Hola: <input type="nombre" value="">
      Ultimo Movimiento: <input type="ultMov" value="">
      Saldo Actual: <input type="saldoAct" value="">
      Posición: <input type="posAct" value="">
    <br>
    <h3><button on-click="consultar" class="btn-btn-success">Consultar</button></h3>
    </div>

    <div class="row" hidden$={{!consulok}}>
      <span>Bienvenido a la app</span>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ConsulInv extends Polymer.Element {
      static get is() { return 'consul-inversiones'; }
      static get properties() {
        return {
          nombre: {
           type:String
          },
          ultMov:{
           type: String
          },
          saldoAct:{
           type: String
          },
          posAct:{
           type: String
          },
          consulok:{
          type: Boolean,
          value: false
          }
        };
      }

      consultar(){
      var consulData = {
        "nombre": this.nombre,
        "ultiMov": this.ultiMov,
        "saldoAct": this.saldoAct,
        "posAct": this.posAct
      };

      console.log(consulData);

        //consultarDatos()
        var request = new XMLHttpRequest();
        request.open("GET","http://localhost:3002/v1/Clientes",false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        //this.clientes= JSON.parse(request.responseText).value;
        this.clientes= JSON.parse(request.responseText)
        //console.table(this.clientes);
        }

        manageAJAXResponse(data){
         console.log("Respuesta recibida del servidor");
         this.logado = true;
        }

        showError(error){
         console.log('Hubo un error en la petición:'+ error);
         alert("Los datos ingresados son incorrectos/El usuario no existe, registrese");
        }
      }

  window.customElements.define(ConsulInv.is, ConsulInv);
  </script>
</dom-module>
