<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


Access-Control-Allow-Origin: *

<dom-module id="consul-movimientos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="../css/addons/datatables.min.css" rel="stylesheet">
    <style>
        :host {
          display: block;
        }
        .bluetext {
          color: #09029b;
        }
        .whitetext {
          color: #f9f9fd;
        }
      </style>

<div class="container"></div>
<div class="row" hidden$={{regInv}}>
  <span class="bluetext">Bienvenido a Cuentas de Inversión1234567</span>
<!--<table id="tdMovimientos" class="table table-striped" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm"><font color=#049ffd size=3>No Cuenta</font></th>
      <th class="th-sm"><font color=#049ffd size=3>Fecha Operación</font></th>
      <th class="th-sm"><font color=#049ffd size=3>Tipo de Operación</font></th>
      <th class="th-sm"><font color=#049ffd size=3>Descripción</font></th>
      <th class="th-sm"><font color=#049ffd size=3>Monto</font></th>
      <th class="th-sm"><font color=#049ffd size=3>Emisora</font></th>
      <th class="th-sm"><font color=#049ffd size=3>Serie</font></th>
      <th class="th-sm"><font color=#049ffd size=3>Titulos</font></th>
    </tr>
  </thead>
  <template is="dom-repeat" items="{{movimientos}}" index-as"email">
    <tbody>
      <tr>
          <td>{{item.email}}</td>
          <td>{{item.noCuenta}}</td>
          <td>{{item.fechaOper}}</td>
          <td>{{item.tipoOper}}</td>
          <td>{{item.descCorta}}</td>
          <td>{{item.monto}}</td>
          <td>{{item.emisora}}</td>
          <td>{{item.serie}}</td>
          <td>{{item.titulos}}</td>
      </tr>
    </tbody>
</template>
  <tfoot>
    <tr>
      <th>No Cuenta</th>
      <th>Fecha de Operación</th>
      <th>Tipo de Operación</th>
      <th>Descripción</th>
      <th>Monto</th>
      <th>Emisora</th>
      <th>Serie</th>
      <th>Titulos</th>
    </tr>
  </tfoot>
</table>

</template>-->
</div>

<script>

class ConsulMov extends Polymer.Element {
static get is() { return 'consul-movimientos'; }
static get properties() {
  return {
    email: {
    type:String
    },
    noCuenta: {
    type:String
    },
    fechaOper: {
    type:Date
    },
    tipoOper:{
    type: String
    },
    descCorta:{
    type: String
    },
    monto:{
    type: Number
    },
    emisora:{
    type: String
    },
    serie:{
    type: String
    },
    titulos:{
    type: Number
    },
    movimientos:{
    type: Array
  },
  regInv:{
  type: Boolean,
  value: true
  }
  };
}

consultamov(){
  //this.name = false;
  console.log("entro al metodo consultMov");
  var request = new XMLHttpRequest();
  var url = "http://localhost:3000/Movimientos/"+ this.email + "\"";
  request.open("GET",url,false);
  request.setRequestHeader("Accept","application/json");
  request.send();

  //var listado = JSON.parse(request.responseText);
  //listado = listado[0].listado;
  //this.movimientos = listado;

  this.movimientos= JSON.parse(request.responseText)
  }

}

      window.customElements.define(ConsulMov.is, ConsulMov);
      </script>
  </dom-module>
