<link rel="import" href="../../bower_components/polymer/polymer-element.html">

Access-Control-Allow-Origin: *

<dom-module id="create-inversiones">
  <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
    <div class="row" hidden$={{regInv}}>
      <h1>Registro de Inversiones</h1>
      Email: <input type="text" value="{{email::input}}" required>
      Cuenta: <input type="text" value="{{noCuenta::input}}">
      Fecha de Operación: <input type="date" value="{{fechaOper::input}}" required>
      Tipo de Operación: <input type="text" value="{{tipoOper::input}}" required>
      Descripción Corta: <input type="text" value="{{descCorta::input}}" required>
      Monto: <input type="text" value="{{monto::input}}" required>
      Emisora: <input type="text" value="{{emisora::input}}" required>
      Serie: <input type="text" value="{{serie::input}}" required>
      Titulos: <input type="text" value="{{titulos::input}}" required>
     <button on-click="operar" class="btn-btn-success">Aceptar</button>

     </div>

    <div class="row" hidden$={{!regInv}}>
      <span>Inversiones</span>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaOper extends Polymer.Element {
      static get is() { return 'create-inversiones'; }
      static get properties() {
        return {
          email: {
           type:String
           //notify: true, //limpiar campos
           //reflectToAttribute:true //limpiar campos
          },
          noCuenta: {
           type:String
          },
          fechaOper: {
           type:Date
          },
          tipoOper:{
           type: String
          },
          descCorta:{
           type: String
          },
          monto:{
           type: Number
          },
          emisora:{
           type: String
          },
          serie:{
           type: String
          },
          titulos:{
           type: Number
          },
          regInv:{
            type: Boolean,
            value: false
          }
        };

      }

      operar(){
      var transaccionData = {
        "email": this.email,
        "noCuenta": this.noCuenta,
        "fechaOper": this.fechaOper,
        "tipoOper": this.tipoOper,
        "descCorta": this.descCorta,
        "monto": this.monto,
        "emisora": this.emisora,
        "serie": this.serie,
        "titulos": this.titulos
      };

      //Registro de la Inversión

        var request = new XMLHttpRequest();
        request.open("POST","http://localhost:3000/v3/Movimientos",false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-type","application/json");
        var body = JSON.stringify(transaccionData);
        request.send(body);

        console.log(request.status);

          if(request.status == 200) {
              alert('Operación Correcta');
              //this.respuesta = request.responseText;
              //limpiar variables
              //limpiar(){
                //<input type="reset" value="">
              //var clearData = {
              //email = "";
              //}
            //}
          }
          else{
              alert('Operación NO Registrada');
      }

      var operacion = JSON.parse(request.responseText);
      console.log(operacion);

      };


        manageAJAXResponse(data){
         console.log("Respuesta recibida del servidor");
         this.regInv = true;
        }

        showError(error){
         console.log('Hubo un error en la petición:'+ error);
         alert("Los datos ingresados son incorrectos");
        }
      }

  window.customElements.define(AltaOper.is, AltaOper);
  </script>
</dom-module>
